VITE_USE_MOCK=true
VITE_AWS_REGION=us-east-1
VITE_USER_POOL_ID=us-east-1_Rmddod48y
VITE_USER_POOL_CLIENT_ID=5o2c4idi7i55kfangcld9fmtui
VITE_API_ENDPOINT=https://5v3g0fkokj.execute-api.us-east-1.amazonaws.com/prod
VITE_S3_BUCKET=assettrace-evidence-650687536843
